<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Realtime notifer</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<input type="hidden" name="panel-type" id="panel-type" value="client"/>



<div th:if="${user_id_subscribe_show != null}">
    <input type="hidden" name="user_id_subscribe_show" id="user_id_subscribe_show" th:value="${user_id_subscribe_show}"/>
    <input type="hidden" name="user_id_subscribe" id="user_id_subscribe" th:value="${user_id_subscribe}"/>
    <input type="hidden" name="user_session_subscribe" id="user_session_subscribe" th:value="${user_session_subscribe}"/>
</div>

<div id="container">
    <div id="Info" class="Info">

        <h4 id="logInAs" style="display:none;">You are logged in as: </h4>

        <select name="hash-to-send" id="chooseUser" class="userHashInput">
            <option value="0">------- Log in as user and to session ---------</option>
            <option th:each="uSess : ${allSess}"
                    th:value="${uSess.id}"
                    th:utext="'[user id: ' + ${uSess.user_id} + '] session: ' + ${uSess.session_token}"/>
        </select>



    </div>
    <div id="chat">

        <ul id="messages">

        </ul>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0-alpha1/jquery.js}"></script>
<script th:src="@{/webjars/sockjs-client/1.0.0/sockjs.js}"></script>
<script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.js}"></script>
<script th:src="@{/webjars/momentjs/2.11.1/moment.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>