<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Realtime notifer</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<input type="hidden" name="panel-type" id="panel-type" value="send"/>

<div id="container">
    <div id="chat">
        <ul id="messages">

        </ul>
        <form onsubmit="sendMessageTo(); return false;">

            <div class="chat-message clearfix">
                <label>Send to: </label>
                <select name="hash-to-send" id="userHashInput" class="userHashInput"><option th:each="uSess : ${allSess}"

                    th:attr="data-sesstoken=${uSess.session_token},data-uid=${uSess.user_id}"
                       th:value="${uSess.id}"
                       th:utext="'[user id: ' + ${uSess.user_id} + '] session: ' + ${uSess.session_token}"/></select>

                <input name="message-to-send" autocomplete="off" id="messageInput" placeholder="Type your message" />


                <button type="submit">Send</button>
            </div>
        </form>
        <div id="sent-messages">
            <ul id="sent-messages-ul">

            </ul>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0-alpha1/jquery.js}"></script>
<script th:src="@{/webjars/sockjs-client/1.0.0/sockjs.js}"></script>
<script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.js}"></script>
<script th:src="@{/webjars/momentjs/2.11.1/moment.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>